{% extends 'plantillaBase.html' %} 
{% block titulo %}
    {{ ' ' }}
{% endblock %} 
{% block contenido %} 
<script>
    $(function()
    {
                    $.getJSON('https://mindicador.cl/api', function(data) {
                            $('.txtDolar').val(data.dolar.valor);
                            
                    }).fail(function() {
                            console.log('Error al consumir la API!');
                    });
                    
                    var numeros= '1234567890';
                    $('.txtPeso').keypress(function(e)
                    {                        
                        let caracter = String.fromCharCode(e.which);                                
                        if(numeros.indexOf(caracter) < 0)
                            return false;                                
                    })      

                    $('.btnConvertir').click(function()
                    {
                            let pesos = $('.txtPeso').val();
                            let dolar = $('.txtDolar').val();
                            let total = pesos / dolar;
                            $('.txtTotalPesos').val(total);
                            return false;                                
                    })


    })


</script>
<h4 class="text-center">Te damos la bienvenida a e-Commerse.</h4>
      <p class="text-center">Aquí estan los productos que buscas al mejor precio.</p>
      <table class="default">
        <div class="col-xs-6 col-md-4">
    
        <tr>
            <div class="container bootstrap snipets">
                <div class="row flow-offset-1">
                  <div class="col-xs-6 col-md-4">
                    <span class="brand">New balance</span>
                    <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://i.ibb.co/ZhTfQ1c/zapatilla1.jpg" height="300" width="350" alt=""></a>
                      <div class="caption">
                        <h6><a href="#">Zapatilla New balance</a></h6>
                        <h6>Zapatilla  New balance mujer.</h6>
                          <span class="price sale" name="txtPrice">$42.990</span>
                          <span class="stock">Stock Disponible: 42</span>
                        <div style="text-align:center; margin-top: 10px;">
                          <button type="button" class="btn btn-primary" id="carrito">Añadir al Carro</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-4">
                    <span class="brand">Zapatilla Carlos</span>
                    <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://puu.sh/HzejX/03f8b74ac0.jpg" height="300" width="350" alt=""></a>
                      <div class="caption">
                        <h6><a href="#">Zapatilla Carlos</a></h6>
                        <h6>Zapatilla Urbana Hombre.</h6>
                          <span class="price sale" id="precio">$84.990</span>
                          <span class="stock">Stock Disponible: 35</span>
                          <div style="text-align:center; margin-top: 10px;">
                            <button type="button" class="btn btn-primary" id="carrito">Añadir al Carro</button>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-4">
                    <span class="brand">Fila</span>
                    <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://i.ibb.co/QpmWn4S/imagen-2021-04-17-175017.png" height="300" width="350" alt=""></a>
                      <div class="caption">
                        <h6><a href="#">Zapatillas Fila</a></h6>
                        <h6>Zapatilla Urbana Mujer</h6>
                          <span class="price sale">$62.990</span>
                          <span class="stock">Stock Disponible: 46</span>
                          <div style="text-align:center; margin-top: 10px;">
                            <button type="button" class="btn btn-primary" id="carrito">Añadir al Carro</button>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-4">
                    <span class="brand">Nike</span>
                    <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://puu.sh/Hzepq/23f73cb6c0.jpg" height="300" width="350" alt=""></a>
                      <div class="caption">
                        <h6><a href="#">Zapatilla Nike Uptempo</a></h6>
                        <h6>Zapatilla Urbana Mujer</h6>
                          <span class="price sale">$199.990</span>
                          <span class="stock">Stock Disponible: 55</span>
                          <div style="text-align:center; margin-top: 10px;">
                            <button type="button" class="btn btn-primary" id="carrito">Añadir al Carro</button>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-4">
                    <span class="brand">juturo</span>
                    <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://puu.sh/Hzerm/e042a67d20.jpg" height="300" width="350" alt=""></a>
                      <div class="caption">
                        <h6><a href="#">Zapatilla volver al juturos</a></h6>
                        <h6>Zapatilla Urbana Hombre.</h6>
                          <span class="price sale">$299.990</span>
                          <span class="stock">Stock Disponible: 91</span>
                          <div style="text-align:center; margin-top: 10px;">
                            <button type="button" class="btn btn-primary" id="carrito">Añadir al Carro</button>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-4">
                    <span class="brand">Gotta</span>
                    <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://i.ibb.co/yQNd0PN/imagen-2021-04-17-180325.png" height="300" width="350" alt=""></a>
                      <div class="caption">
                        <h6><a href="#">Zapatilla Gotta</a></h6>
                        <h6>Zapatilla Urbana Mujer</h6>
                          <span class="price sale">$49.990</span>
                          <span class="stock">Stock Disponible: 32</span>
                          <div style="text-align:center; margin-top: 10px;">
                            <button type="button" class="btn btn-primary" id="carrito">Añadir al Carro</button>
                          </div>
                      </div>
                    </div>
                  </div>
               
                
                  
                </div>
              </div>
              <br><hr>
    
    <div class="container">
                <br>                
        <h4 class="text-center bg-secondary text-white ">Convierta el precio a Dolar</h4>
                <br>                
                <form action="hola.html" method="post">
                  {% csrf_token %}
                  <div class="row mt-2">
                                <div class="col-12 col-md-2 offset-md-3">
                                        Valor dolar:
                                </div>
                                <div class="col-12 col-md-5">
                                        <input type="textDolar" name="txtDolar" class="txtDolar form-control" readonly>
                                </div>        
                        </div>        
                        <div class="row mt-2">
                                <div class="col-12 col-md-2 offset-md-3">
                                        Precio en pesos:
                                </div>
                                <div class="col-12 col-md-5">
                                        <input type="text" name="txtPeso" class="txtPeso form-control">
                                </div>        
                        </div>        
                        <div class="row mt-2">
                                <div class="col-12 col-md-2 offset-md-3">
                                        Total en Dolares:
                                </div>
                                <div class="col-12 col-md-5">
                                        <input type="text" name="txtTotalPesos" class="txtTotalPesos form-control" readonly>
                                </div>        
                        </div>        
                        <div class="row mt-2">
                                <div class="col-12 col-md-2 offset-md-3">
                                        Opciones
                                </div>
                                <div class="col-12 col-md-5">
                                    <input type="submit" name="btnConvertir" class="btnConvertir btn-outline-primary" value="Convertir">
                                    <div class="spinner-border spinner-border-sm"></div>       
                                    
                                </div>        
                        </div>    
{% endblock %}